@using Automaton.Studio.Resources
@using Automaton.Studio.Domain
@using Blazored.FluentValidation
@inherits FeedbackComponent<Flow, bool>

<Row Gutter="16">
    <AntDesign.Col Span="24">
        <AntList Bordered DataSource="@Variables">
            <ChildContent Context="item">
                <ListItem OnClick="@(() => EditVariable(item))">
                    <a>@item.Name</a>
                </ListItem>
            </ChildContent>
        </AntList>
    </AntDesign.Col>
</Row>
<br />
<Row>
    <AntDesign.Col Span="11"></AntDesign.Col>
    <AntDesign.Col Span="13">
        <Space>
            <SpaceItem>
                <Tooltip Title="@Labels.AddVariable">
                    <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="plus" Size="@ButtonSize.Small" OnClick="AddVariable"></Button>
                </Tooltip>
            </SpaceItem>
        </Space>
    </AntDesign.Col>
</Row>
