@using Automaton.Studio.Resources
@using Automaton.Studio.Domain
@using Blazored.FluentValidation
@inherits FeedbackComponent<StudioFlow, bool>

<div>
    <h4>Flow</h4>

    <Row>
        <Col Span="24">
        <AntList DataSource="@Variables" Size="small" Class="scrollable-list">
            <ChildContent Context="item">
                <ListItem Style="padding-left: 0px; padding-bottom: 2px; padding-top: 2px">
                    <Button Type="@ButtonType.Link" Size="@ButtonSize.Small">@item.Name</Button>
                </ListItem>
            </ChildContent>
        </AntList>
        </Col>
    </Row>

    <br />

    <h4>Input</h4>

    <Row>
        <Col Span="24">
        <AntList DataSource="@InputVariables" Size="small" Class="scrollable-list">
            <ChildContent Context="item">
                <ListItem Style="padding-left: 0px; padding-bottom: 2px; padding-top: 2px">
                    <Button Type="@ButtonType.Link" Size="@ButtonSize.Small" OnClick="@(() => EditInputVariable(item))">@item.Name</Button>
                    <Button Shape="@ButtonShape.Circle" Style="float:right" Icon="delete" Size="@ButtonSize.Small" OnClick="@(() => DeleteInputVariable(item))"></Button>
                </ListItem>
            </ChildContent>
        </AntList>
        </Col>
    </Row>

    <Row>
        <Col Offset="10">
        <Space>
            <SpaceItem>
                <Tooltip Title="@Labels.AddVariable">
                    <Button Type="@ButtonType.Primary"
                            Shape="@ButtonShape.Circle"
                            Icon="plus"
                            Size="@ButtonSize.Small"
                            Class="add-variable-button"
                            OnClick="AddInputVariable">
                    </Button>
                </Tooltip>
            </SpaceItem>
        </Space>
        </Col>
    </Row>

    <h4>Output</h4>

    <Row>
        <Col Span="24">
        <AntList DataSource="@OutputVariables" Size="small" Class="scrollable-list">
            <ChildContent Context="item">
                <ListItem Style="padding-left: 0px; padding-bottom: 2px; padding-top: 2px">
                    <Button Type="@ButtonType.Link" Size="@ButtonSize.Small" OnClick="@(() => EditOutputVariable(item))">@item.Name</Button>
                    <Button Shape="@ButtonShape.Circle" Style="float:right" Icon="delete" Size="@ButtonSize.Small" OnClick="@(() => DeleteOutputVariable(item))"></Button>
                </ListItem>
            </ChildContent>
        </AntList>
        </Col>
    </Row>

    <Row>
        <Col Offset="10">
        <Tooltip Title="@Labels.AddVariable">
            <Button Type="@ButtonType.Primary"
                    Shape="@ButtonShape.Circle"
                    Icon="plus"
                    Size="@ButtonSize.Small"
                    Class="add-variable-button"
                    OnClick="AddOutputVariable">
            </Button>
        </Tooltip>
        </Col>
    </Row>
</div>

<style>
    .scrollable-list {
        overflow: auto;
        max-height: 150px;
    }

    .add-variable-button {
        margin-top: 10px;
    }

</style>


