@using Automaton.Studio.Resources
@using Automaton.Studio.Domain
@using Blazored.FluentValidation
@inherits FeedbackComponent<StudioFlow, bool>

<Row Gutter="16">
    <AntDesign.Col Span="24">
        <h4>Flow</h4>
    </AntDesign.Col>
</Row>

<Row Gutter="16">
    <AntDesign.Col Span="24">
        <AntList DataSource="@Variables" Class="scrollable-list">
            <ChildContent Context="item">
                <ListItem>
                    <a>@item.Name</a>
                </ListItem>
            </ChildContent>
        </AntList>
    </AntDesign.Col>
</Row>

<br />

<Row Gutter="16">
    <AntDesign.Col Span="24">
        <h4>Output</h4>
    </AntDesign.Col>
</Row>

<Row Gutter="16">
    <AntDesign.Col Span="24">
        <AntList DataSource="@OutputVariables" Size="small" Class="scrollable-list">
            <ChildContent Context="item">
                <ListItem Style="padding-left: 0px; padding-bottom: 2px; padding-top: 2px">
                    <Button Type="@ButtonType.Link" OnClick="@(() => EditOutputVariable(item))">@item.Name</Button>
                    <Button Shape="@ButtonShape.Circle" Style="float:right" Icon="delete" Size="@ButtonSize.Small" OnClick="@(() => DeleteOutputVariable(item))"></Button>
                </ListItem>
            </ChildContent>
        </AntList>
    </AntDesign.Col>
</Row>

<br />

<Row>
    <AntDesign.Col Span="11">
    </AntDesign.Col>

    <AntDesign.Col Span="13">
        <Space>
            <SpaceItem>
                <Tooltip Title="@Labels.AddVariable">
                    <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="plus" Size="@ButtonSize.Small" OnClick="AddOutputVariable"></Button>
                </Tooltip>
            </SpaceItem>
        </Space>
    </AntDesign.Col>
</Row>


<style>
    .scrollable-list {
        overflow: auto;
        height: 150px;
    }

</style>


