@page "/stepdesigner/{stepId}"
@using AntDesign
@using Blazored.FluentValidation;

<Layout>

    <Content>

        <Header Class="header">
            <Row>
                <Col Flex=@("none") Class="page-title">
                    <Space Size="@AntSizeLDSType.Large" Direction="DirectionVHType.Horizontal" Align="center">                  
                        <SpaceItem Class="header-item">
                        <Title Level="4" Editable EditConfig="stepNameEditableConfig">@StepDesignerViewModel.CustomStep.Name</Title>
                        </SpaceItem>                 
                    </Space>
                </Col>

                <Col Class="right-actions">
                    <Space Class="right-header-items">
                        <SpaceItem>
                            <Button Class="header-button" Icon="save" OnClick="Save">
                                Save
                            </Button>
                        </SpaceItem>

                        <SpaceItem>
                            <Button Icon="arrow-left" Shape="@ButtonShape.Round" Class="header-button" OnClick="BackToCustomSteps">
                                Back to Custom Steps
                            </Button>
                        </SpaceItem>
                    </Space>
                </Col>
            </Row>

        </Header>

        <Form @ref="form"
              Model="@StepDesignerViewModel.CustomStep"
              Loading="loading"
              Class="step-form"
              Layout="@FormLayout.Vertical">

            <Validator>
                <FluentValidationValidator />
                <ValidationSummary />
            </Validator>

            <ChildContent>
                <Tabs>
                    <TabPane Tab="Details" Key="1">
                        <Row>
                            <FormItem Label="Name">
                                <Input @bind-Value="@context.Name" Placeholder="Enter name" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="Display Name">
                                <Input @bind-Value="@context.DisplayName" Placeholder="Enter display name" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="Description">
                                <Input @bind-Value="@context.Description" Placeholder="Enter description" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="More info URL">
                                <Input @bind-Value="@context.MoreInfo" Placeholder="Enter description" />
                            </FormItem>
                        </Row>
                    </TabPane>

                    <TabPane Tab="Code" Key="2">
                        <TextArea Rows="6" Id="step-code" @bind-Value="context.Definition.Code" AutoFocus />
                    </TabPane>

                    <TabPane Tab="Input Variables" Key="3">
                        <Space Direction="DirectionVHType.Vertical">
                            <SpaceItem>
                                <Button OnClick="AddInputVariable" Type="primary">
                                    Add
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="@context.Definition.CodeInputVariables"
                                       ScrollY="calc(100vh - 270px);"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="inputVariable">
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="inputVariable.Name" AutoFocus />
                                        </Column>
                                        <Column Title="Type" TData="string">
                                            <Select @bind-Value="inputVariable.Type"
                                                    Placeholder="Select type..."
                                                    TItemValue="string"
                                                    TItem="string">
                                                <SelectOptions>
                                                @foreach (var variableType in VariableTypes)
                                                {
                                                    <SelectOption TItemValue="string" TItem="string" Value=@variableType Label=@variableType />
                                                }
                                                </SelectOptions>
                                            </Select>
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Popconfirm Title="Sure to delete?"
                                                        OnConfirm="()=> DeleteInputVariable(inputVariable.Name)"
                                                        OkText="Yes"
                                                        CancelText="No">
                                                <a>Delete</a>
                                            </Popconfirm>
                                        </ActionColumn>
                                    </ChildContent>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>

                    <TabPane Tab="Output Variables" Key="4">
                        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
                            <SpaceItem>
                                <Button OnClick="AddOutputVariable" Type="primary">
                                    Add
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="context.Definition.CodeOutputVariables"
                                       ScrollY="200px"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="outputVariable">
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="outputVariable.Name" AutoFocus />
                                        </Column>
                                        <Column Title="Type" TData="string">
                                            <Select @bind-Value="outputVariable.Type"
                                                    Placeholder="Select type..."
                                                    TItemValue="string"
                                                    TItem="string">
                                                <SelectOptions>
                                                    @foreach (var variableType in VariableTypes)
                                                    {
                                                        <SelectOption TItemValue="string" TItem="string" Value=@variableType Label=@variableType />
                                                    }
                                                </SelectOptions>
                                            </Select>
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Popconfirm Title="Sure to delete?"
                                                        OnConfirm="()=> DeleteOutputVariable(outputVariable.Name)"
                                                        OkText="Yes"
                                                        CancelText="No">
                                                <a>Delete</a>
                                            </Popconfirm>
                                        </ActionColumn>
                                    </ChildContent>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>
                </Tabs>
            </ChildContent>
        </Form>

    </Content>
</Layout>


@code {
    bool collapsed;
}

<style>
    .step-form {
        background-color: #fff;
        padding: 20px;
        height: calc(100vh - 117px);
    }

    #step-code {
        width: 100vw !important;
        height: calc(100vh - 210px) !important;
    }

</style>



