@page "/stepdesigner/{stepId}"
@using AntDesign
@using Blazored.FluentValidation;
@using Automaton.Core.Enums;

<Layout>

    <Content>

        <Header Class="header">
            <Row>
                <Col>
                <Title Level="4" Editable EditConfig="stepNameEditableConfig" Class="editable-title">@StepDesignerViewModel.CustomStep.Name</Title>
                </Col>

                <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                        <Tooltip Title="Save step">
                            <Button Class="header-button" Icon="caret-right" OnClick="Run">
                                Run
                            </Button>
                        </Tooltip>
                        <Tooltip Title="Save step">
                            <Button Class="header-button" Icon="save" OnClick="Save">
                                Save
                            </Button>
                        </Tooltip>
                    </SpaceItem>
                </Space>
                </Col>
            </Row>
        </Header>

        <Form @ref="form"
              Model="@StepDesignerViewModel.CustomStep"
              Loading="loading"
              Class="step-form"
              Layout="@FormLayout.Vertical">

            <Validator>
                <FluentValidationValidator />
                <ValidationSummary />
            </Validator>

            <ChildContent>
                <Tabs>
                    <TabPane Tab="Details" Key="1">
                        <Row Gutter="(16, 0)" Justify="left">
                            <Col Xs="24" Md="6">
                            <FormItem Label="Name">
                                <Input @bind-Value="@context.Name" Placeholder="Enter name" />
                            </FormItem>
                            </Col>
                            <Col Xs="24" Md="6">
                            <FormItem Label="Display Name">
                                <Input @bind-Value="@context.DisplayName" Placeholder="Enter display name" />
                            </FormItem>
                            </Col>
                        </Row>

                        <Row Gutter="(16, 0)" Justify="left">
                            <Col Xs="24" Md="6">
                            <FormItem Label="Description">
                                <Input @bind-Value="@context.Description" Placeholder="Enter description" />
                            </FormItem>
                            </Col>
                            <Col Xs="24" Md="6">
                            <FormItem Label="More info URL">
                                <Input @bind-Value="@context.MoreInfo" Placeholder="Enter description" />
                            </FormItem>
                            </Col>
                        </Row>
                    </TabPane>

                    <TabPane Tab="Code" Key="2">
                        <Row Gutter="(16, 0)">
                            <Col Md="12">
                                <TextArea Rows="6" Id="step-code" @bind-Value="context.Definition.Code" AutoFocus />
                            </Col>
                            <Col Md="12">
                                <Row>
                                    <Collapse DefaultActiveKey="@(new[]{"1"})" Bordered="false" Class="variables-collapse-panel">
                                        <Panel Key="1">
                                            <HeaderTemplate>
                                                <b>Test Input Variables</b>
                                            </HeaderTemplate>
                                            <ChildContent>
                                                <AntList DataSource="@context.Definition.CodeInputVariables" Class="scrollable-list">
                                                    <ChildContent Context="inputVariable">
                                                        <ListItem Style="padding-left: 0px; padding-bottom: 0px; padding-top: 0px;">
                                                            <FormItem Label="@inputVariable.Name" Style="margin-bottom: 0px">
                                                                <Space Direction="DirectionVHType.Horizontal">
                                                                    <SpaceItem>
                                                                            <Input Type="text" @bind-Value="inputVariable.Value" />
                                                                    </SpaceItem>
                                                                    <SpaceItem>
                                                                        <Popover Content="@inputVariable.Description" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})" Class="variable-description">
                                                                            <Button Shape="@ButtonShape.Circle" Icon="info" Size="@ButtonSize.Small"></Button>
                                                                        </Popover>
                                                                    </SpaceItem>
                                                                </Space>
                                                            </FormItem>
                                                        </ListItem>
                                                    </ChildContent>
                                                </AntList>
                                            </ChildContent>
                                        </Panel>
                                    </Collapse>
                                </Row>

                                <Row>
                                    <Collapse DefaultActiveKey="@(new[]{"1"})" Bordered="false" Class="variables-collapse-panel">
                                        <Panel Key="1">
                                            <HeaderTemplate>
                                                <b>Test Output Variables</b>
                                            </HeaderTemplate>
                                            <ChildContent>
                                                <AntList DataSource="@context.Definition.CodeInputVariables" Class="scrollable-list">
                                                    <ChildContent Context="inputVariable">
                                                        <ListItem Style="padding-left: 0px; padding-bottom: 0px; padding-top: 0px;">
                                                            <FormItem Label="@inputVariable.Name" Style="margin-bottom: 0px">
                                                                <Space Direction="DirectionVHType.Horizontal">
                                                                    <SpaceItem>
                                                                        <Input Type="text" @bind-Value="inputVariable.Value" />
                                                                    </SpaceItem>
                                                                    <SpaceItem>
                                                                        <Popover Content="@inputVariable.Description" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})" Class="variable-description">
                                                                            <Button Shape="@ButtonShape.Circle" Icon="info" Size="@ButtonSize.Small"></Button>
                                                                        </Popover>
                                                                    </SpaceItem>
                                                                </Space>
                                                            </FormItem>
                                                        </ListItem>
                                                    </ChildContent>
                                                </AntList>
                                            </ChildContent>
                                        </Panel>
                                    </Collapse>
                                </Row>
                            </Col>
                        </Row>
                    </TabPane>

                    <TabPane Tab="Input Variables" Key="3">
                        <Space Direction="DirectionVHType.Vertical">
                            <SpaceItem>
                                <Tooltip Title="Add input variable">
                                    <Button OnClick="AddInputVariable" Type="primary">
                                        Add
                                    </Button>
                                </Tooltip>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="@context.Definition.CodeInputVariables"
                                       RowExpandable="@((record)=>true)"
                                       ScrollY="calc(100vh - 310px);"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="inputVariable">
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="inputVariable.Name" AutoFocus />
                                        </Column>
                                        <Column Title="Type" TData="string">
                                            <Select @bind-Value="inputVariable.Type"
                                                    Placeholder="Select type..."
                                                    TItemValue="VariableType"
                                                    TItem="VariableType">
                                                <SelectOptions>
                                                    @foreach (var variableType in VariableTypes)
                                                    {
                                                        <SelectOption TItemValue="VariableType" TItem="VariableType" Value=@variableType Label=@variableType.ToString() />
                                                    }
                                                </SelectOptions>
                                            </Select>
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Tooltip Title="Delete variable">
                                                <Popconfirm Title="Sure to delete?"
                                                            OnConfirm="()=> DeleteInputVariable(inputVariable.Name)"
                                                            OkText="Yes"
                                                            CancelText="No">
                                                    <a>Delete</a>
                                                </Popconfirm>
                                            </Tooltip>
                                        </ActionColumn>
                                    </ChildContent>
                                    <ExpandTemplate Context="inputVariable2">
                                        <GridRow Gutter="(16, 0)" Class="expanded-content">
                                            <GridCol Xs="6" Md="6">
                                                <FormItem Label="Description">
                                                    <Input Type="text" @bind-Value="inputVariable2.Data.Description" />
                                                </FormItem>
                                            </GridCol>
                                            <GridCol Xs="6" Md="6">
                                                <FormItem Label="Value">
                                                    <Input Type="text" TValue="string" Value="inputVariable2.Data.Value?.ToString()" OnChange="(x) => { inputVariable2.Data.Value = x; }" />
                                                </FormItem>
                                            </GridCol>
                                        </GridRow>
                                    </ExpandTemplate>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>

                    <TabPane Tab="Output Variables" Key="4">
                        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
                            <SpaceItem>
                                <Tooltip Title="Add output variable">
                                    <Button OnClick="AddOutputVariable" Type="primary">
                                        Add
                                    </Button>
                                </Tooltip>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="context.Definition.CodeOutputVariables"
                                       RowExpandable="@((record)=>true)"
                                       ScrollY="calc(100vh - 310px);"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="outputVariable">
                                        <Column Title="Id" TData="string">
                                            <Input Type="text" @bind-Value="outputVariable.Id" AutoFocus />
                                        </Column>
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="outputVariable.Name" />
                                        </Column>
                                        <Column Title="Type" TData="string">
                                            <Select @bind-Value="outputVariable.Type"
                                                    Placeholder="Select type..."
                                                    TItemValue="VariableType"
                                                    TItem="VariableType">
                                                <SelectOptions>
                                                    @foreach (var variableType in VariableTypes)
                                                    {
                                                        <SelectOption TItemValue="VariableType" TItem="VariableType" Value=@variableType Label=@variableType.ToString() />
                                                    }
                                                </SelectOptions>
                                            </Select>
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Tooltip Title="Delete variable">
                                                <Popconfirm Title="Sure to delete?"
                                                            OnConfirm="()=> DeleteOutputVariable(outputVariable.Name)"
                                                            OkText="Yes"
                                                            CancelText="No">
                                                    <a>Delete</a>
                                                </Popconfirm>
                                            </Tooltip>
                                        </ActionColumn>
                                    </ChildContent>
                                    <ExpandTemplate Context="outputVariable2">
                                        <GridRow Gutter="(16, 0)" Class="expanded-content">
                                            <GridCol Xs="6" Md="6">
                                                <FormItem Label="Description">
                                                    <Input Type="text" @bind-Value="outputVariable2.Data.Description" />
                                                </FormItem>
                                            </GridCol>
                                            <GridCol Xs="6" Md="6">
                                                <FormItem Label="Value">
                                                    <Input Type="text" TValue="string" Value="outputVariable2.Data.Value?.ToString()" OnChange="(x) => { outputVariable2.Data.Value = x; }" />
                                                </FormItem>
                                            </GridCol>
                                        </GridRow>
                                    </ExpandTemplate>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>
                </Tabs>
            </ChildContent>
        </Form>

    </Content>
</Layout>


@code {
    bool collapsed;
}

<style>
    .step-form {
        background-color: #fff;
        padding: 20px;
        height: calc(100vh - 117px);
    }

    #step-code {
        width: 100vw !important;
        height: calc(100vh - 210px) !important;
    }

    .expanded-content {
        padding: 0 50px 0 50px;
    }

    .editable-title {
        padding: 18px 0 0 10px;
    }

    .header .ant-typography-edit-content {
        padding-top: 18px;
    }

    .scrollable-list {
        overflow: auto;
        max-height: 300px;
    }

    .variables-collapse-panel {
        background-color: #efefef;
        border-radius: 2px;
        margin-bottom: 24px;
        border-radius: 5px;
    }

    .variable-description {
        float: right;
        margin: 3px 5px 0 0;
    }

</style>
