@page "/stepdesigner/{stepId}"
@using AntDesign
@using Blazored.FluentValidation;

<Layout>

    <Content>

        <Header Class="header">
            <Row>
                <Col Flex=@("none") Class="page-title">
                    <Space Size="@AntSizeLDSType.Large" Direction="DirectionVHType.Horizontal" Align="center">
                        <SpaceItem>
                            <h3>Custom Step</h3>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Class="save-button" Icon="save" OnClick="Save">
                                Save
                            </Button>
                        </SpaceItem>
                    </Space>
                </Col>

                @*<Col Class="center-actions">
                    <Space Class="center-header-items">
                        <SpaceItem>
                        @StepDesignerViewModel.CustomStep.Name
                        </SpaceItem>
                    </Space>
                </Col>*@
            </Row>

        </Header>

        <Form @ref="form"
              Model="@StepDesignerViewModel.CustomStep"
              Loading="loading"
              Class="step-form"
              Layout="@FormLayout.Vertical">

            <Validator>
                <FluentValidationValidator />
                <ValidationSummary />
            </Validator>

            <ChildContent>
                <Tabs>
                    <TabPane Tab="Details" Key="1">
                        <Row>
                            <FormItem Label="Name">
                                <Input @bind-Value="@StepDesignerViewModel.CustomStep.Name" Placeholder="Enter name" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="Display Name">
                                <Input @bind-Value="@StepDesignerViewModel.CustomStep.DisplayName" Placeholder="Enter display name" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="Description">
                                <Input @bind-Value="@StepDesignerViewModel.CustomStep.Description" Placeholder="Enter description" />
                            </FormItem>
                        </Row>
                        <Row>
                            <FormItem Label="More info URL">
                                <Input @bind-Value="@StepDesignerViewModel.CustomStep.MoreInfo" Placeholder="Enter description" />
                            </FormItem>
                        </Row>
                    </TabPane>

                    <TabPane Tab="Code" Key="2">
                        <TextArea Rows="6" Id="step-code" @bind-Value="StepDesignerViewModel.CustomStep.Definition.Code" AutoFocus />
                    </TabPane>

                    <TabPane Tab="Input Variables" Key="3">
                        <Space Direction="DirectionVHType.Vertical">
                            <SpaceItem>
                                <Button OnClick="AddInputVariable" Type="primary">
                                    Add
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="StepDesignerViewModel.CustomStep.Definition.CodeInputVariables"
                                       ScrollY="200"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="inputVariable">
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="inputVariable.Name" AutoFocus />
                                        </Column>
                                        <Column Title="Value" TData="string">
                                            <Input Type="text" @bind-Value="inputVariable.Value" />
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Popconfirm Title="Sure to delete?"
                                                        OnConfirm="()=> DeleteInputVariable(inputVariable.Name)"
                                                        OkText="Yes"
                                                        CancelText="No">
                                                <a>Delete</a>
                                            </Popconfirm>
                                        </ActionColumn>
                                    </ChildContent>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>

                    <TabPane Tab="Output Variables" Key="4">
                        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
                            <SpaceItem>
                                <Button OnClick="AddOutputVariable" Type="primary">
                                    Add
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Table DataSource="StepDesignerViewModel.CustomStep.Definition.CodeOutputVariables"
                                       ScrollY="200px"
                                       ScrollBarWidth="5"
                                       HidePagination>
                                    <ChildContent Context="outputVariable">
                                        <Column Title="Name" TData="string">
                                            <Input Type="text" @bind-Value="outputVariable.Name" AutoFocus />
                                        </Column>
                                        <ActionColumn Title="Action">
                                            <Popconfirm Title="Sure to delete?"
                                                        OnConfirm="()=> DeleteOutputVariable(outputVariable.Name)"
                                                        OkText="Yes"
                                                        CancelText="No">
                                                <a>Delete</a>
                                            </Popconfirm>
                                        </ActionColumn>
                                    </ChildContent>
                                </Table>
                            </SpaceItem>
                        </Space>
                    </TabPane>
                </Tabs>
            </ChildContent>
        </Form>

    </Content>
</Layout>


@code {
    bool collapsed;
}

<style>
    .step-header {
        background-color: #fff;
        padding: 10px 0px 0px 20px;
    }

    .step-form {
        background-color: #fff;
        margin: 10px;
        padding: 20px;
        height: calc(100vh - 63px);
    }

    #step-code {
        width: 100vw !important;
        height: calc(100vh - 150px) !important;
    }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .center-header-items {
            margin-bottom: 15px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .center-actions {
        margin: auto;
    }

    .save-button {
        margin-bottom: 15px;
    }

    .site-layout-content {
        height: 100%;
    }

    .ant-layout {
        height: 100%;
    }

</style>



