@page "/designer"
@page "/designer/{WorkflowId}"
@using Automaton.Studio.Activity
@using Automaton.Studio.Components
@using Plk.Blazor.DragDrop

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
            <Space Class="actions-bar">
                <SpaceItem>
                    <Button Type="dashed" Icon="save">
                        Save
                    </Button>
                </SpaceItem>
                <SpaceItem>
                    <Button Type="dashed" Icon="caret-right">
                        Run
                    </Button>
                </SpaceItem>
                <SpaceItem>
                    <Select Mode="multiple"
                            @bind-Values="@DesignerViewModel.Workflow.RunnerIds"
                            Placeholder="Select runners..."
                            TItemValue="Guid"
                            TItem="Guid"
                            Class="runners-select"
                            AllowClear>
                        <SelectOptions>
                            @foreach (var item in @DesignerViewModel.Runners)
                            {
                                <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                            }
                        </SelectOptions>
                    </Select>
                </SpaceItem>
            </Space>
            </Col>

            @*<Col Class="right-actions">
                    <Space Class="right-header-items">
                        <SpaceItem>
                            <Button Shape="link" Icon="question-circle" Class="action-button">
                                <span class="action-label">Help</span>
                            </Button>
                        </SpaceItem>
                    </Space>
                </Col>*@
        </Row>
    </Header>

    <Layout Class="designer-container">
        <Sider Theme="SiderTheme.Light" Class="tree-sidebar">
            <ActivitiesTree></ActivitiesTree>
        </Sider>

        <Content Class="dropzone-container">
            <Dropzone Class="dropzone" @ref="dropzone" TItem="StudioActivity" Items="DesignerViewModel.Workflow.Activities" InstantReplace="true" 
                      OnItemDrop="@((p)=>OnActivityDrop(p))" OnItemMouseDown="@((p)=>OnActivityMouseDown(p))">
                <StudioActivityComponent Activity="@context" />
            </Dropzone>
        </Content>
    </Layout>
</Layout>

<style>
    .designer-container {
        background-color: #FFF
    }

    .dropzone-container {
        height: calc(100vh - 55px);
    }

    .dropzone {
        height: calc(100vh - 55px);
        overflow: auto;
    }

    .runners-select {
        min-width: 140px;
        max-width: 140px;
    }
</style>



