@page "/workflows"

@if (@WorkflowsViewModel.Workflows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @using Elsa.Client.Models

<Table TItem="WorkflowDefinition" DataSource="@WorkflowsViewModel.Workflows">
    <Column @bind-Field="@context.Name">
        <a>@context.Name</a>
    </Column>
    <Column @bind-Field="@context.Description"></Column>
    <Column @bind-Field="@context.Version">
        <TitleTemplate>
            <span> <Icon Type="environment" /> Version </span>
        </TitleTemplate>
    </Column>
    <ActionColumn Title="Action">
        <Space Size="middle">
            <SpaceItem> 
                <a @onclick="@(() => RunWorkflow(context.DefinitionId, ""))"><Icon Type="caret-right" Theme="outline" /></a>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
}



