@page "/workflows"
@using Automaton.Studio.Models
@using AntDesign

@if (@WorkflowsViewModel.Workflows == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div>
    <Layout>
        <Header Class="header">
            <Space Class="actions-bar">
                <SpaceItem>
                    <Button Type="dashed" Icon="plus" @onclick="@(() => ShowNewWorkflowDialog())">
                        New
                    </Button>
                </SpaceItem>
            </Space>
        </Header>

        <Content>
            <Table TItem="StudioWorkflow" DataSource="@WorkflowsViewModel.Workflows">
                <Column Title="Workflow" @bind-Field="@context.Name">
                    @context.Name
                </Column>
                <Column @bind-Field="@context.Description"></Column>
                <Column @bind-Field="@context.Version" Width="100">
                    <TitleTemplate>
                        <span> <Icon Type="environment" /> Version </span>
                    </TitleTemplate>
                </Column>

                <Column Title="Runners" @bind-Field="@context.Description" Width="300">
                    <SpaceItem>
                        <Select Mode="multiple"
                                @bind-Values="context.RunnerIds"
                                Placeholder="Select runners..."
                                TItemValue="Guid"
                                TItem="Guid"
                                AllowClear>
                            <SelectOptions>
                                @foreach (var item in @WorkflowsViewModel.Runners)
                                    {
                                    <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                                    }
                            </SelectOptions>
                        </Select>
                    </SpaceItem>
                </Column>

                <ActionColumn Title="Action">
                    <Space>
                        <SpaceItem>
                            <Button Type="dashed" Icon="caret-right" @onclick="@(() => RunWorkflow(context))">
                                Run
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="dashed" Icon="edit" @onclick="@(() => EditWorkflow(context))">
                                Edit
                            </Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>

            </Table>
        </Content>
    </Layout>
</div>
}



