@page "/workflows"
@using Automaton.Studio.Models

@if (@WorkflowsViewModel.Workflows == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @using Elsa.Client.Models

<Table TItem="WorkflowModel" DataSource="@WorkflowsViewModel.Workflows">
    <Column Title="Workflow" @bind-Field="@context.Name">
        <a href="designer?workflow=@context.DefinitionId">@context.Name</a>
    </Column>
    <Column @bind-Field="@context.Description"></Column>
    <Column @bind-Field="@context.Version" Width="100">
        <TitleTemplate>
            <span> <Icon Type="environment" /> Version </span>
        </TitleTemplate>
    </Column>

    <Column Title="Runners" @bind-Field="@context.Description" Width="300">
        <SpaceItem>
            <Select Mode="multiple"
                    @bind-Values="context.RunnerIds"
                    Placeholder="Select runners..."
                    TItemValue="Guid"
                    TItem="Guid"
                    AllowClear>
                <SelectOptions>
                    @foreach (var item in @WorkflowsViewModel.Runners)
                        {
                        <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                        }
                </SelectOptions>
            </Select>
        </SpaceItem>
    </Column>

    <ActionColumn Title="Action">
        <Space Size="10">
            <SpaceItem>
                <Button @onclick="@(() => RunWorkflow(context))" Shape="link" Icon="caret-right" Class="action-button"><span class="action-label">Run</span></Button>
            </SpaceItem>
        </Space>
    </ActionColumn>

</Table>
}



