@page "/designer"
@page "/designer/{flowid}"
@using AntDesign
@using Automaton.Studio.Pages.Designer.Components.FlowExplorer
@using Automaton.Studio.Pages.Designer.Components.StepExplorer
@using Automaton.Studio.Pages.Designer.Components;
@using Automaton.Studio.Domain;

<Layout Class="designer-container">
    <Sider Theme="SiderTheme.Light" Style="width: 300px">
        <CascadingValue Value="DesignerViewModel.Flow">
            <Tabs DefaultActiveKey="1" TabPosition="@TabPosition.Bottom" Size="@TabSize.Small" Class="explorer-tabs">
                <TabPane Key="1" Tab="Steps">
                    <StepExplorer></StepExplorer>
                </TabPane>
                <TabPane Key="2" Tab="Flow">
                    <FlowExplorer></FlowExplorer>
                </TabPane>
            </Tabs>
        </CascadingValue>
    </Sider>

    <Content>
        <Header Class="header">
            <Row>
                <Col Flex=@("none")>
                <Space Class="actions-bar">
                    <SpaceItem>
                        <Button Icon="save" OnClick="SaveFlow">
                            Save
                        </Button>
                    </SpaceItem>
                    @if (DesignerViewModel.CanExecuteFlow)
                    {
                        <SpaceItem>
                        <Button Icon="caret-right" OnClick="RunFlow">
                            Run
                        </Button>
                        </SpaceItem>
                    }
                </Space>
                </Col>

                @*<Col Class="right-actions">
                    <Space Class="right-header-items">
                    <SpaceItem>
                    <Button Shape="circle" Type="ButtonType.Dashed" Icon="setting" Class="action-button"></Button>
                    </SpaceItem>
                    </Space>
                    </Col>*@
            </Row>
        </Header>

        <Tabs Type="@TabType.EditableCard"
              Size="@TabSize.Small"
              ActiveKey="@DesignerViewModel.GetActiveDefinitionId()"
              DefaultActiveKey="@DesignerViewModel.GetStartupDefinitionId()"
              OnAddClick="OnWorkflowAddClick"
              OnTabClick="OnTabClick"
              OnClose="OnTabClose">

            @foreach (var definition in DesignerViewModel.Definitions)
            {
                <TabPane Key="@definition.Id" Tab="@definition.Name">
                    <Dropzone Class="dropzone"
                        @ref="dropzone"
                        Items="definition.Steps"
                        InstantReplace="true"
                        OnDropzoneMouseDown="@(()=>OnDropzoneMouseDown())"
                        OnItemDrop="@((p)=>OnStepDrop(p))"
                        OnItemMouseDown="@((p)=>OnStepMouseDown(p))"
                        OnItemDoubleClick="@((p)=>OnStepDoubleClick(p))">

                        <DropzoneStep Step="@context" />

                    </Dropzone>
                </TabPane>
            }
        </Tabs>

    </Content>

    <Sider Theme=SiderTheme.Light Collapsed=true Class="right-sider">
        <Menu Mode=MenuMode.Inline Theme=MenuTheme.Light Selectable=true Class="right-sider">
            <MenuItem Key="1" Icon="setting" OnClick="OpenFlowSettings">
                Settings
            </MenuItem>
            <MenuItem Key="2" OnClick="OpenFlowVariables" Icon="snippets">
                Variables
            </MenuItem>
        </Menu>
    </Sider>
</Layout>

<style>
    .designer-container {
        background-color: #FFF;
    }

    .dropzone {
        overflow: auto;
        height: calc(100vh - 115px);
    }

    .runners-select {
        min-width: 140px;
        max-width: 140px;
    }

    .explorer-tabs {
        padding-top: 10px;
        height: 100%;
    }

    div.ant-tabs-nav-wrap {
        padding-left: 5px;
    }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .right-sider {
        max-width: 50px !important;
        min-width: 50px !important;
        background-color: #fafafa;
    }

        .right-sider .ant-menu-item {
            padding-left: 15px !important;
        }
</style>



