@page "/"
@using AntDesign

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
                <Space Size="@AntSizeLDSType.Large">
                    <SpaceItem Class="header-item">
                    <Title Level="4">Flows</Title>
                    </SpaceItem>               
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                        <Button Class="header-button" Icon="plus" @onclick="@(() => NewFlowDialog())">
                            New
                        </Button>
                    </SpaceItem>
                </Space>
            </Col>
        </Row>
    </Header>

    <Content>
        <Table TItem="FlowModel" DataSource="@FlowsViewModel.Flows" Loading="@loading" Class="autoscroll-list">
            <Column Title="Name" @bind-Field="@context.Name">
                @context.Name
            </Column>

            <Column Title="Created" @bind-Field="@context.Created">
                @context.Created
            </Column>

            <Column Title="Updated" @bind-Field="@context.Updated">
                @context.Updated
            </Column>

            <Column @bind-Field="@context.RunnerIds" Title="Runners" Width="300">
                <Select Mode="multiple"
                        @bind-Values="context.RunnerIds"
                        Placeholder="Select runners..."
                        TItemValue="Guid"
                        TItem="Guid"
                        AllowClear>
                    <SelectOptions>
                        @foreach (var item in FlowsViewModel.Runners)
                        {
                            <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                        }
                    </SelectOptions>
                </Select>
            </Column>

            <ActionColumn Title="Action">
                <div>
                    <Space>
                        <SpaceItem>
                            <Button Icon="caret-right" @onclick="@(() => RunFlow(context))">
                                Run
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Icon="edit" @onclick="@(() => EditFlow(context.Id))">
                                Edit
                            </Button>
                        </SpaceItem>
                    </Space>

                    <Dropdown Placement="@Placement.Bottom" Trigger="@(new Trigger[] { Trigger.Click })">
                        <Overlay>
                            <Menu>
                                <MenuItem Icon="delete" OnClick="@(() => DeleteFlow(context.Id))">
                                    Delete
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <a href="#" @onclick:preventDefault @onmousedown:stopPropagation>
                                <Icon Type="more" Theme="outline" />
                            </a>
                        </ChildContent>
                    </Dropdown>
                </div>
            </ActionColumn>
        </Table>
    </Content>
</Layout>


