@page "/"
@using AntDesign

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none") Class="page-title">
                <Space Size="@AntSizeLDSType.Large">
                    <SpaceItem>
                        <h3>Flows</h3>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Class="new-button" Icon="plus" @onclick="@(() => NewFlowDialog())">
                            New
                        </Button>
                    </SpaceItem>
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items"></Space>
            </Col>
        </Row>

    </Header>

    <Content>
        <Table TItem="FlowModel" DataSource="@FlowsViewModel.Flows">
            <Column Title="Name" @bind-Field="@context.Name">
                @context.Name
            </Column>

            <Column Title="Created" @bind-Field="@context.Created">
                @context.Created
            </Column>

            <Column Title="Updated" @bind-Field="@context.Updated">
                @context.Updated
            </Column>

            <Column @bind-Field="@context.RunnerIds" Title="Runners" Width="300">
                <Select Mode="multiple"
                        @bind-Values="context.RunnerIds"
                        Placeholder="Select runners..."
                        TItemValue="Guid"
                        TItem="Guid"
                        AllowClear>
                    <SelectOptions>
                        @foreach (var item in FlowsViewModel.Runners)
                        {
                            <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                        }
                    </SelectOptions>
                </Select>
            </Column>

            <ActionColumn Title="Action">
                <div>
                    <Space>
                        <SpaceItem>
                            <Button Icon="caret-right" @onclick="@(() => RunFlow(context))">
                                Run
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Icon="edit" @onclick="@(() => EditFlow(context.Id))">
                                Edit
                            </Button>
                        </SpaceItem>
                    </Space>

                    <Dropdown Placement="@Placement.BottomCenter" Trigger="@(new Trigger[] { Trigger.Click })">
                        <Overlay>
                            <Menu>
                                <MenuItem Icon="delete" OnClick="@(() => DeleteFlow(context.Id))">
                                    Delete
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <a href="#" @onclick:preventDefault @onmousedown:stopPropagation>
                                <Icon Type="more" Theme="outline" />
                            </a>
                        </ChildContent>
                    </Dropdown>
                </div>
            </ActionColumn>
        </Table>
    </Content>
</Layout>

<style>
    .new-button {
        margin-bottom: 15px;
    }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .right-actions {
        margin-left: auto;
    }

    .designer-step-icon-container {
        padding: 0 16px;
    }

</style>



