@page "/customsteps"
@using AntDesign

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none") Class="page-title">
                <Space Size="@AntSizeLDSType.Large">
                <SpaceItem Class="header-item">
                        <h3>Custom Steps</h3>
                    </SpaceItem>
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                    <Button Class="header-button" Icon="plus" @onclick="@(() => NewCustomStepDialog())">
                            New
                        </Button>
                    </SpaceItem>
                </Space>
            </Col>
        </Row>

    </Header>

    <Content>
        <Table TItem="CustomStepModel" DataSource="@CustomStepsViewModel.CustomSteps" Class="autoscroll-list" Loading="@loading">
            <Column Title="Name" @bind-Field="@context.Name">
                @context.Name
            </Column>

            <Column Title="Created" @bind-Field="@context.Created">
                @context.Created
            </Column>

            <Column Title="Updated" @bind-Field="@context.Updated">
                @context.Updated
            </Column>

            <ActionColumn Title="Action">
                <div>
                    <Space>
                        <SpaceItem>
                            <Button Icon="edit" @onclick="@(() => EditCustomStep(context.Id))">
                                Edit
                            </Button>
                        </SpaceItem>
                    </Space>

                    <Dropdown Placement="@Placement.Bottom" Trigger="@(new Trigger[] { Trigger.Click })">
                        <Overlay>
                            <Menu>
                                <MenuItem Icon="delete" OnClick="@(() => DeleteCustomStep(context.Id))">
                                    Delete
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <a href="#" @onclick:preventDefault @onmousedown:stopPropagation>
                                <Icon Type="more" Theme="outline" />
                            </a>
                        </ChildContent>
                    </Dropdown>
                </div>
            </ActionColumn>
        </Table>
    </Content>
</Layout>



