@using Blazored.FluentValidation;
@using Automaton.Studio.Models

@inherits FeedbackComponent<NewCustomStep>

<Form @ref="form"
      Model="@model"
      LabelColSpan="5">
    <Validator>
        <FluentValidationValidator @ref="fluentValidationValidator" />
    </Validator>

    <ChildContent>
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" Placeholder="Enter name" />
        </FormItem>
        <FormItem Label="Display Name">
            <Input @bind-Value="@context.DisplayName" Placeholder="Enter display name" />
        </FormItem>
        <FormItem Label="Category">
            <Input @bind-Value="@context.Category" Placeholder="Enter category" />
        </FormItem>
        <FormItem Label="Icon">
            <Input @bind-Value="@context.Icon" Placeholder="Enter icon" />
        </FormItem>
        <FormItem Label="Description">
            <Input @bind-Value="@context.Description" Placeholder="Enter description" />
        </FormItem>
    </ChildContent>
</Form>