@using Automaton.Core.Models;
@inherits BaseStepVariable

<FormItem Label="@Variable.Name" Class="variable-label">
    <Row>
        <Col Md="23">
        <AntDesign.InputNumber OnChange="(decimal x) => { Variable.Value = x; }" Class="variable-input-number"/>
        </Col>
        <Col Md="1">
            <Popover Content="@Variable.Description" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})" Class="variable-description">
                <Button Shape="@ButtonShape.Circle" Icon="info" Size="@ButtonSize.Small"></Button>
            </Popover>
        </Col>
    </Row>
</FormItem>

<style>
    .variable-description {
        padding: 4px 0px 0px 4px;
    }

    .variable-label {
        margin: 0px;
        padding: 0px;
    }

    .variable-input-number {
        width: 100%;
    }
</style>
