@using AntDesign
@using Automaton.Studio.Pages.Designer.Components;
@using Automaton.Studio.Domain;

<div class="@Step.Class">
    <Row Align="middle">
        <Col Flex=@("none")>
        <div class="designer-step-icon-container">
            <Icon Type="@Step.Icon" Theme="outline" />
        </div>
        </Col>

        <Col Flex=@("auto")>
            // TODO! Add implementation
        </Col>

        <Col Class="designer-step-options">
        <div class="designer-step-icon-container">
            <Dropdown Placement="@Placement.Left" Trigger="@(new Trigger[] { Trigger.Click })">
                <Overlay>
                    <Menu>
                        <MenuItem Icon="delete" OnClick="@(() => OnDelete(Step))">
                            Delete
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a href="#" @onclick:preventDefault @onmousedown:stopPropagation>
                        <Icon Type="more" Theme="outline" />
                    </a>
                </ChildContent>
            </Dropdown>
        </div>
        </Col>
    </Row>
</div>

@code
{
    private RenderFragment _content =
    @<div>
        <Space Direction="DirectionVHType.Vertical">
            <SpaceItem>
                <Icon Type="edit" Theme="outline" /><a href="#" class="options-menu-text">Edit</a>
            </SpaceItem>
        </Space>
    </div>;
}