@attribute [AllowAnonymous]
@page "/register"

@using AntDesign
@using Blazored.FluentValidation

<Layout>
    <Content Class="register">
        <Form Loading="loading" 
            Model="@Model"
            Layout="@FormLayout.Vertical"
            OnFinish="OnFinish"
            OnFinishFailed="OnFinishFailed">

            <Validator>
                <FluentValidationValidator/>
            </Validator>

            <ChildContent>
                <Title Level="1">Sign up</Title>
                <FormItem Label="Username">
                    <Input @bind-Value="@context.UserName" />
                </FormItem>
                <FormItem Label="Password">
                    <InputPassword @bind-Value="@context.Password" />
                </FormItem>
                <FormItem Label="Confirm Password">
                    <InputPassword @bind-Value="@context.ConfirmPassword" />
                </FormItem>
                <FormItem>
                    <Checkbox @bind-Value="@context.AgreeWithTermsPrivacyPolicy">I agree with <a href="/#">Terms</a> and <a href="/#">Privacy Policy</a> </Checkbox>
                </FormItem>
                <FormItem WrapperColSpan="16">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Submit
                    </Button>
                </FormItem>
            </ChildContent>

        </Form>
    </Content>
</Layout>

<style>
    .register {
        position:absolute;
        left:50%;
        top:40%;
        margin:-120px 0 0 -80px;
    }
</style>




