@using Automaton.Studio.Domain;
@using System.Text
@implements IDisposable

<div class="@GetClassesForDropzone()"
     @ondragover:preventDefault
     @ondragover="()=> { }"
     @ondragenter:preventDefault
     @ondragenter="()=>OnDragEnter()"
     @ondrop="()=>OnDrop()"
     @onmousedown="()=>DropzoneMouseDown()"
     @onclick="()=>DropzoneClick()"
     @ondrop:preventDefault
     ondragstart="event.dataTransfer.setData('text', event.target.id);"
     @ondrop:stopPropagation
     @ondragenter:stopPropagation
     @ondragend:stopPropagation
     @ondragover:stopPropagation
     @ondragleave:stopPropagation
     @ondragstart:stopPropagation>

    <div @ondrop="()=>OnDropItemOnSpacing(0)"
         @ondrop:stopPropagation
         @ondragenter="()=>DragDropService.ActiveSpacerId = 0"
         @ondragleave="()=>DragDropService.ActiveSpacerId = null"
         class="first-step-top-spacing">
    </div>

    @foreach (var item in Items)
    {
        <div draggable="@IsItemDragable(item)"
             @ondragstart="()=>OnDragStart(item)"
             @ondragend="()=>OnDragEnd()"
             @ondragenter="()=>OnItemDragEnter(item)"
             @ondragleave="()=>OnDragLeave()"
             @onclick="()=>ItemClick(item)"
             @ondblclick="()=>ItemDoubleClick(item)" @ondblclick:stopPropagation="true"
             @onmousedown="()=>ItemMouseDown(item)" @onmousedown:stopPropagation="true"
            class="@GetClassesForDraggable(item) @CheckIfItemIsInTransit(item) @CheckIfItemIsDragTarget(item) @CheckIfDragOperationIsInProgess() @CheckIfDraggable(item)">

            @{
                if (ChildContent != null)
                {
                    @ChildContent(item);
                }
            }

        </div>

        <div @ondrop="()=>OnDropItemOnSpacing(Items.IndexOf(item)+1)"
                @ondrop:stopPropagation 
                @ondragenter="()=>DragDropService.ActiveSpacerId = Items.IndexOf(item)+1"
                @ondragleave="()=>DragDropService.ActiveSpacerId = null"
                class="step-spacing">
        </div>
    }

</div>

<style>
    .step-spacing {
        height: 15px;
        background-color: greenyellow;
    }

    .first-step-top-spacing {
        height: 15px; 
        background-color:aqua
    }
</style>