@using AntDesign

<div class="@Step.Class">
    <Row Align="middle">
        <Col Flex=@("none")>
        <div class="designer-step-icon-container">
            <Icon Type="@Step.Icon" Theme="outline" />
        </div>
        </Col>

        <Col Flex=@("auto")>
            @ChildContent
        </Col>

        <Col Class="designer-step-options">
        <div class="designer-step-actions-icon">
            <Dropdown Placement="@Placement.Left" Trigger="@(new Trigger[] { Trigger.Click })">
                <Overlay>
                    <Menu>
                        <MenuItem Icon="edit" OnClick="@(() => OnSettings(Step))">
                            Settings
                        </MenuItem>
                        @if (Step.HasProperties)
                        {
                            <MenuItem Icon="edit" OnClick="@(() => OnEdit(Step))">
                                Edit
                            </MenuItem>
                        }
                        <MenuItem Icon="delete" OnClick="@(() => OnDelete(Step))">
                            Delete
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a href="#" @onclick:preventDefault @onmousedown:stopPropagation>
                        <Icon Type="more" Theme="outline" />
                    </a>
                </ChildContent>
            </Dropdown>
        </div>
        </Col>
    </Row>
</div>

@code
{
    private RenderFragment _content =
    @<div>
                <Space Direction="DirectionVHType.Vertical">
                    <SpaceItem>
                        <Icon Type="edit" Theme="outline" /><a href="#" class="options-menu-text">Edit</a>
                    </SpaceItem>
                </Space>
    </div>;
}

<style>
    .options-menu-text {
        margin-left: 10px;
    }

    .designer-step-options {
        margin-left: auto;
    }

    .designer-step-icon-container {
        padding: 0px 12px 0px 0px;
    }

    .designer-step-actions-icon {
        padding: 0px 12px 0px 12px;
    }

    .designer-step {
        padding: 1em;
        margin: 0px 10px 0px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -webkit-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -moz-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
    }

    .designer-step-selected {
        padding: 1em;
        margin: 0px 10px 0px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -webkit-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -moz-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        background-color: #EFEFEF;
    }

    .designer-step-disabled {
        padding: 1em;
        margin: 0px 10px 0px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -webkit-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        -moz-box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        background-color: #EFEFEF;
        opacity: 0.5;
    }

</style>