@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@using Automaton.Studio.Components
 
<Layout Class="layout">

    <Sider Theme="SiderTheme.Dark" Collapsible="false" Collapsed="true" CollapsedWidth="48" Style="overflow: auto; height: 100vh;">

        <div class="logo"></div>

        <div class="sidebar">
            <div>
                <Tooltip Placement="@PlacementType.Right" Title="@("Dashboard")">
                    <a href=""><Icon Type="dashboard" Theme="outline" Width="18" Height="18" /></a>
                </Tooltip>
            </div>

            <div>
                <Tooltip Placement="@PlacementType.Right" Title="@("Designer")">
                    <a href="designer"><Icon Type="partition" Theme="outline" Width="18" Height="18" /></a>
                </Tooltip>
            </div>

            <div>
                <Tooltip Placement="@PlacementType.Right" Title="@("Workflows")">
                    <a href="workflows"><Icon Type="profile" Theme="outline" Width="18" Height="18" /></a>
                </Tooltip>
            </div>
        </div>
    </Sider>

    <Layout Class="site-layout">
        <Header Class="header">

            <DesignerActionBar></DesignerActionBar>

            <Space class="right-header-items">
                <SpaceItem>
                    <Button Shape="link" Icon="question-circle" Class="action-button">
                        <span class="action-label">Help</span>
                    </Button>
                </SpaceItem>
                <SpaceItem>
                    <form method="post" action="Identity/Account/LogOut">
                        <Button Shape="link" HtmlType="submit" Icon="logout" Class="action-button">
                            <span class="action-label">Logout</span>
                        </Button>
                    </form>
                </SpaceItem>
            </Space>
        </Header>

        <Content>
            <div class="site-layout-content">@Body</div>
        </Content>

    </Layout>
</Layout>

<style>
    .site-layout {
        padding: 0 5px 5px 5px;
    }

    .sidebar {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 48px;
        overflow: hidden;
    }

        .sidebar a {
            padding: 6px 14px 10px 14px;
            text-decoration: none;
            display: block;
            color: #fff;
        }

            .sidebar a:hover {
                background-color: #666;
            }

            .sidebar a:active {
                color: #ddd;
            }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

</style>


@code{
    @inject NavigationManager NavigationManager

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"Identity/Account/Login");
        }
    }
}