@page "/flowdesigner/{flowid}"
@using AntDesign
@using Automaton.Studio.Pages.FlowDesigner.Components.FlowExplorer
@using Automaton.Studio.Pages.FlowDesigner.Components.StepExplorer
@using Automaton.Studio.Pages.FlowDesigner.Components;
@using Automaton.Studio.Domain;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
                <Space Size="@AntSizeLDSType.Large">
                    <SpaceItem Class="header-item">
                    <Title Level="4">@DesignerViewModel.Flow.Name</Title>
                    </SpaceItem>
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                        <Button Icon="save" Class="header-button" OnClick="SaveFlow">
                            Save
                        </Button>
                    </SpaceItem>

                    @if (DesignerViewModel.CanExecuteFlow)
                    {
                        <SpaceItem>
                            <Button Icon="caret-right" Class="header-button" OnClick="RunFlow">
                                Run
                            </Button>
                        </SpaceItem>
                    }

                    <SpaceItem>
                        <Button Icon="arrow-left" Shape="@ButtonShape.Round" Class="header-button" OnClick="BackToFlows">
                            Back to Flows
                        </Button>
                    </SpaceItem>
                </Space>
            </Col>
        </Row>
    </Header>

    <Layout Class="designer-container">

        <Sider Theme="SiderTheme.Light" Style="width: 300px">
            <CascadingValue Value="DesignerViewModel.Flow">
                <Tabs DefaultActiveKey="1" TabPosition="@TabPosition.Bottom" Size="@TabSize.Small" Class="explorer-tabs">
                    <TabPane Key="1" Tab="Steps">
                        <StepExplorer></StepExplorer>
                    </TabPane>
                    <TabPane Key="2" Tab="Flow">
                        <FlowExplorer></FlowExplorer>
                    </TabPane>
                </Tabs>
            </CascadingValue>
        </Sider>

        <Content>
            <Tabs Type="@TabType.EditableCard"
                  Size="@TabSize.Small"
                  ActiveKey="@DesignerViewModel.ActiveDefinition?.Id"
                  DefaultActiveKey="@DesignerViewModel.GetStartupDefinitionId()"
                  OnAddClick="OnDefinitionAddClick"
                  OnTabClick="OnTabClick"
                  OnClose="OnTabClose">

                @foreach (var definition in DesignerViewModel.Flow.Definitions)
                {
                    <TabPane Key="@definition.Id" Tab="@definition.Name">
                        <Dropzone @ref="dropzone"
                              Class="dropzone"
                              Steps="definition.Steps"
                              ItemDrop="@((p)=>OnItemDrop(p))"
                              ItemDoubleClick="@((p)=>OnItemDoubleClick(p))">

                            <DropzoneStep Step="@context" />

                        </Dropzone>
                    </TabPane>
                }
            </Tabs>

        </Content>

        <Sider Theme=SiderTheme.Light Collapsed=true Class="right-sider">
            <Menu Mode=MenuMode.Inline Theme=MenuTheme.Light Selectable=true Class="right-sider">
                <MenuItem Key="1" Icon="setting" OnClick="OpenFlowSettings">
                    Settings
                </MenuItem>
                <MenuItem Key="2" OnClick="OpenFlowVariables" Icon="snippets">
                    Variables
                </MenuItem>
            </Menu>
        </Sider>
    </Layout>
</Layout>

<style>
    .designer-container {
        background-color: #FFF;
    }

    .dropzone {
        overflow: auto;
        height: calc(100vh - 200px);
        /* Use flex to fill the remaining of dropzone in Dropzone.razor*/
        display: flex;
        flex-direction: column;
    }

    .runners-select {
        min-width: 140px;
        max-width: 140px;
    }

    .explorer-tabs {
        padding-top: 10px;
        height: 100%;
    }

    div.ant-tabs-nav-wrap {
        padding-left: 5px;
    }
</style>



