@page "/flowdesigner/{flowid}"
@using AntDesign
@using Automaton.Studio.Pages.FlowDesigner.Components.FlowExplorer
@using Automaton.Studio.Pages.FlowDesigner.Components.StepExplorer
@using Automaton.Studio.Pages.FlowDesigner.Components;
@using Automaton.Studio.Domain;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
                <Space Size="@AntSizeLDSType.Large">
                    <SpaceItem Class="header-item">
                    <Title Level="4">@DesignerViewModel.Flow.Name</Title>
                    </SpaceItem>
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                        <Button Icon="save" Class="header-button" OnClick="SaveFlow">
                            Save
                        </Button>
                    </SpaceItem>

                    <SpaceItem>
                        @if (DesignerViewModel.CanExecuteFlow)
                        {
                            <Button Icon="caret-right" Class="header-button" OnClick="RunFlow">
                                Run
                        </Button>
                        }
                    </SpaceItem>
                </Space>
            </Col>
        </Row>
    </Header>

    <Layout Class="designer-container">

        <Sider Theme="SiderTheme.Light" Style="width: 300px">
            <CascadingValue Value="DesignerViewModel.Flow">
                <Tabs DefaultActiveKey="1" TabPosition="@TabPosition.Bottom" Size="@TabSize.Small" Class="explorer-tabs">
                    <TabPane Key="1" Tab="Steps">
                        <StepExplorer></StepExplorer>
                    </TabPane>
                    <TabPane Key="2" Tab="Definitions">
                        <FlowExplorer></FlowExplorer>
                    </TabPane>
                </Tabs>
            </CascadingValue>
        </Sider>

        <Content Class="content-container">
            <Tabs Type="@TabType.EditableCard"
                  Size="@TabSize.Small"
                  ActiveKey="@DesignerViewModel.ActiveDefinition?.Id"
                  DefaultActiveKey="@DesignerViewModel.GetStartupDefinitionId()"
                  OnAddClick="OnDefinitionAddClick"
                  OnTabClick="OnTabClick"
                  OnClose="OnTabClose">

                @foreach (var definition in DesignerViewModel.Flow.Definitions)
                {
                    <TabPane Key="@definition.Id" Tab="@definition.Name">
                        <Designer @ref="designer"
                              Class="dropzone"
                              Steps="definition.Steps"
                              ItemDrop="@((p)=>OnItemDrop(p))"
                              ItemDoubleClick="@((p)=>OnItemDoubleClick(p))">

                            <DesignerStep Step="@context" />

                        </Designer>
                    </TabPane>
                }
            </Tabs>
        </Content>

        <Sider Theme="SiderTheme.Light" CollapsedWidth="0" Width="400" DefaultCollapsed Class="tools-sider" @ref="toolsSider">
            <CascadingValue Value="DesignerViewModel.Flow">
                <DynamicComponent Type="toolsPanel"/>
            </CascadingValue>
        </Sider>

        <Sider Theme="SiderTheme.Light" CollapsedWidth="50" DefaultCollapsed Class="settings-sider">
            <Menu Mode="MenuMode.Inline" Theme="MenuTheme.Light">
                <MenuItem Key="1" Icon="setting" OnClick="OpenFlowSettings">
                    Settings
                </MenuItem>
                <MenuItem Key="2" Icon="function" OnClick="OpenFlowVariables">
                    Variables
                </MenuItem>
                <MenuItem Key="3" Icon="profile" OnClick="OpenFlowLogs">
                    Logs
                </MenuItem>
            </Menu>
        </Sider>
    </Layout>
</Layout>

<style>

    .content-container {
        background-color: #fff;
    }

    .designer-container {
        background-color: #fafafa;
    }

    .dropzone {
        overflow: auto;
        height: calc(100vh - 200px);
    }

    .runners-select {
        min-width: 140px;
        max-width: 140px;
    }

    .explorer-tabs {
        padding-top: 10px;
        height: 100%;
    }

    div.ant-tabs-nav-wrap {
        padding-left: 5px;
    }

    .settings-sider {
        background-color: #fafafa;
    }

    .tools-sider {
        background-color: #fafafa;
        margin: 0 0 0 2px;
    }

</style>



