@page "/flow/schedule/{flowid}/{flowname}"
@using AntDesign
@using Automaton.Studio.Models;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
            <Space Size="@AntSizeLDSType.Large">
                <SpaceItem Class="header-item">
                    <Title Level="4">Schedules<span class="subtitle"><span class="bullet">&#x2022;</span>@FlowName</span></Title>
                </SpaceItem>
            </Space>
            </Col>

            <Col Class="right-actions">
            <Space Class="right-header-items">
            </Space>
            </Col>
        </Row>
    </Header>

    <Content>
        <Table TItem="Models.FlowSchedule" 
            DataSource="@FlowScheduleViewModel.Schedules"
            RowExpandable="@((record)=>true)"
            Loading="@loading" 
            Class="autoscroll-list"
            OnChange="OnChange">
            <ColumnDefinitions>
                <Column Title="Name" @bind-Field="@context.Name">
                    @context.Name
                </Column>
            </ColumnDefinitions>
            <ExpandTemplate Context="rowData">             
            </ExpandTemplate>
        </Table>
    </Content>
</Layout>

<style>
    #flow-logs {
        width: 100%;
        height: 300px !important;
        overflow-x: hidden;
        font-size: smaller;
    }

    .log-spin {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        margin: 20px 0;
    }

</style>



