@page "/flow/schedule/{flowid}/{flowname}"
@using AntDesign
@using Automaton.Studio.Models;
@using Blazored.FluentValidation;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
            <Space Size="@AntSizeLDSType.Large">
                <SpaceItem Class="header-item">
                    <Title Level="4">Schedules<span class="subtitle"><span class="bullet">&#x2022;</span>@FlowName</span></Title>
                </SpaceItem>
            </Space>
            </Col>

            <Col Class="right-actions">
            <Space Class="right-header-items">
                <SpaceItem>
                    <Tooltip Title="New schedule">
                        <Button Class="header-button" Icon="plus" @onclick="@(() => NewSchedule())">
                            New
                        </Button>
                    </Tooltip>
                </SpaceItem>
            </Space>
            </Col>
        </Row>
    </Header>

    <Content>
        <Table TItem="FlowScheduleModel" 
            DataSource="@FlowScheduleViewModel.Schedules"
            RowExpandable="@((record)=>true)"
            Loading="@loading" 
            Class="autoscroll-list"
            OnRow="OnRow"
            OnChange="OnChange">
            <ColumnDefinitions>
                <Column Title="Name" @bind-Field="@context.Name">
                    @context.Name
                </Column>
            </ColumnDefinitions>
            <ExpandTemplate Context="rowData">
                <Form @ref="form"
                      Model="@rowData.Data"
                      Loading="loading"
                      Class="step-form"
                      Layout="@FormLayout.Vertical">

                    <Validator>
                        <FluentValidationValidator />
                        <ValidationSummary />
                    </Validator>

                    <ChildContent>
                        <GridRow Gutter="(16, 0)" Class="expanded-content">
                            <GridCol Xs="6" Md="6">
                                <FormItem Label="Name">
                                    <Input Type="text" @bind-Value="@rowData.Data.Name" />
                                </FormItem>
                            </GridCol>
                            <GridCol Xs="6" Md="6">
                                @*<FormItem Label="Value">
                                   <Select Mode="multiple" 
                                    @bind-Values="context.RunnerIds"
                                    Placeholder="Select runners..."
                                    TItemValue="Guid"
                                    TItem="Guid"
                                    AllowClear>
                                    <SelectOptions>
                                        @foreach (var item in FlowsViewModel.Runners)
                                        {
                                            <SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                                        }
                                    </SelectOptions>
                                </Select>   
                                </FormItem>*@
                            </GridCol>
                        </GridRow>
                    </ChildContent>
                </Form>
            </ExpandTemplate>
        </Table>
    </Content>
</Layout>

<style>
    #flow-logs {
        width: 100%;
        height: 300px !important;
        overflow-x: hidden;
        font-size: smaller;
    }

    .log-spin {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        margin: 20px 0;
    }

</style>



