@page "/flowactivity/{flowid}"
@using AntDesign
@using Automaton.Studio.Models;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
            <Space Size="@AntSizeLDSType.Large">
                <SpaceItem Class="header-item">
                    <Title Level="4">Activity</Title>
                </SpaceItem>
            </Space>
            </Col>

            <Col Class="right-actions">
            <Space Class="right-header-items">
            </Space>
            </Col>
        </Row>
    </Header>

    <Content>
        <Table TItem="FlowExecution" 
            DataSource="@FlowActivityViewModel.Executions"
            RowExpandable="@((record)=>true)"
            OnExpand="OnRowExpand"
            Loading="@loading" 
            Class="autoscroll-list"
            EnableVirtualization
            OnChange="OnChange"
            Total="FlowActivityViewModel.Total"           
            RemoteDataSource>
            <ColumnDefinitions>
                <Column Title="Application" @bind-Field="@context.Application">
                    @context.Application
                </Column>

                <Column Title="Started" @bind-Field="@context.Started">
                    @context.Started
                </Column>

                <Column Title="Finished" @bind-Field="@context.Finished">
                    @context.Finished
                </Column>

                <Column Title="Status" @bind-Field="@context.Status">
                    <span class="@context.StatusClass">@context.Status</span>
                </Column>
            </ColumnDefinitions>

            <ExpandTemplate Context="rowData">
                @if (LogIsLoading(rowData.Data.LogsText))
                {
                    <div class="log-spin"><Spin /></div>
                }
                else
                {
                    <TextArea Id="flow-logs" Value="@rowData.Data.LogsText" />
                }
            </ExpandTemplate>
        </Table>
    </Content>
</Layout>

<style>
    #flow-logs {
        width: 100%;
        height: 300px !important;
        overflow-x: hidden;
        font-size: smaller;
    }

    .log-spin {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        margin: 20px 0;
    }

</style>



