@page "/flowlogs/{flowid}/{flowname}"
@using AntDesign
@using Automaton.Studio.Models;

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none")>
            <Space Size="@AntSizeLDSType.Large">
                <SpaceItem Class="header-item">
                    <Title Level="4">Logs<span class="subtitle"><span class="bullet">&#x2022;</span>@FlowName</span></Title>
                </SpaceItem>
            </Space>
            </Col>

            <Col Class="right-actions">
            <Space Class="right-header-items">
            </Space>
            </Col>
        </Row>
    </Header>

    <Content>
        <Table TItem="LogModel" 
            DataSource="@FlowLogsViewModel.Logs"
            RowExpandable="@((record)=>true)"
            OnRow="OnRow"
            Loading="@loading" 
            Class="autoscroll-list"
            OnChange="OnChange"
            Total="FlowLogsViewModel.Total"           
            RemoteDataSource
            Size="TableSize.Small"
            PageSize="100">

            <ColumnDefinitions>

                <Column Title="Timestamp" @bind-Field="@context.Timestamp" Width="10%" Sortable Filterable>
                    @context.Timestamp
                </Column>

                <Column Title="Message" @bind-Field="@context.Message" Width="50%"  Sortable Filterable>
                    <Badge Status="@context.LevelClass" Text="@context.Message" />            
                </Column>

                <Column Title="Level" @bind-Field="@context.Level" Width="5%" Sortable Filterable>
                    @context.Level
                </Column>

                <Column Title="Event Type" @bind-Field="@context.EventType" Width="35%" Sortable Filterable>
                    @context.EventType
                </Column>

            </ColumnDefinitions>

            <ExpandTemplate Context="rowData">
                <AntList DataSource="@rowData.Data.PropertiesDictionary" Class="log-properties-list">
                    <ChildContent Context="item">
                        <ListItem>
                            <div style="width: 200px;">@item.Key</div><div style="width: 100%">@item.Value</div>
                        </ListItem>
                    </ChildContent>
                </AntList>
            </ExpandTemplate>
        </Table>
    </Content>
</Layout>

<style>
    #flow-logs {
        width: 100%;
        height: 300px !important;
        overflow-x: hidden;
        font-size: smaller;
    }

    .log-spin {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        margin: 20px 0;
    }

    .ant-list-split .ant-list-item {
        height: 20px !important;
        border: none;
        padding-left: 40px;
    }

    .log-properties-list {
        background-color: white;
    }

</style>



